.maincontainer {
  padding: 5px 1rem 1rem 1rem;
  background-color: #0a0708;
  min-height: 100vh;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  color: #eeede7;
  font-size: 18px;
}
