.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  flex-wrap: wrap;
}
.downloadSpan {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-wrap: wrap;
}
.nav {
  display: flex;
  gap: 3rem;
}
.nav li {
  list-style: none;
  color: #f5f5f5;
  border: 1px solid transparent;
}
.nav li:hover {
  color: #d3bbdd;
  cursor: pointer;
}
.active {
  color: #c26dbc !important;
}

.navContainerMobile {
  display: none;
}

@media screen and (max-width: 650px) {
  .navContainer {
    display: none;
  }
  .navContainerMobile {
    display: block;
  }
}
