.container{
    border: 0.7px solid #e1e0e0;
    padding: 1rem;
    transition: height 1s;
    max-height: fit-content;
}
.header{
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    font-size: 22px;
    text-decoration: underline;
}
.downArrow{
    cursor: pointer;
}

@keyframes heightManage {
    0%{
        border: 1px;
    }
    100%{
        border: 5px;;
    }
}