.bodyContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.trailhead a {
  text-decoration: none;
  color: inherit;
  display: flex;
}
.trailhead li {
  list-style: none;
}
.homeHeader {
  display: flex;
  gap: 10px;
}
.homeHeader div {
  flex: 1;
}
.homeHeader h3 {
  text-align: center;
  text-decoration: underline;
}
.educationMain div {
  border: 1px solid #0a0708;
  padding: 2px;
  margin-bottom: 4px;
  border-radius: 6px;
}
.college {
  top: 8px;
  background-color: #383838;
}
.school {
  top: 12px;
  z-index: 1;
  background-color: #383838;
}
.schoolsmall {
  top: 16px;
  z-index: 2;
  background-color: #383838;
}
.intro {
  font-family: "Syne", sans-serif;
  word-break: break-all;
}
.homeWorkEx {
  background-image: url("../../../public/accenture1.jpg");
  height: 500px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 10px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.homeWorkEx div {
  flex: 1;
}
.homeWorkEx div:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px;
}
.homeWorkEx div:nth-child(2) p {
  cursor: pointer;
  background-color: #333333;
  width: fit-content;
  padding: 2px;
  border-radius: 6px;
}
.homeWorkEx div:nth-child(2) p span {
  vertical-align: super;
}
.absolute {
  /* position: absolute; */
}
.relavite {
  /* position: relative; */
}
.sticky {
  position: sticky;
}
