/* .width {
  margin: 0 auto;
  width: 85%;
}
.scrollContainer {
  position: relative;
}
.scrollholder {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.scrollholderstop {
}
.line {
  display: inline-block;
  height: 1px;
  width: 15px;
  background-color: #333333;
}
.circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid red;
  border-radius: 50%;
}
.dot {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
}
.inlineBlock {
  display: inline-flex;
}
.dummy {
  width: 80%;
}
.paradyCircle {
  border: 1px solid;
  border-radius: 50%;
  padding: 4px;
}
.hide {
  visibility: hidden;
}
.skillssection {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
}
.skillssection div {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 80%;
}
.skillsline {
  width: 85%;
  border-left: 1px solid red;
  position: relative;
  background-color: #f9e4d0;
}
.absolute {
  position: absolute;
}
.viewSkillBtn {
  text-align: center;
}
.viewSkillBtn span {
  background-color: rgb(240, 222, 222);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(206, 113, 113);
}
.indSkill span {
} */

.skillsContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  min-height: 80vh;
  grid-gap: 1rem;
}
.skillSet1 {
}
.skillSet2 {
}
.skillPoster {
  background-image: url("../../../public/skills.jpg");
  background-size: 6%;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
}
.otherSkills {
  background-color: rgb(0, 0, 0, 0.2);
  height: 100%;
}

.indSkill {
  margin: 2rem 0;
}
.progressBar {
  color: #c8f4f9;
}
.otherSKillsBtn {
  margin: 0;
  text-align: center;
  background-color: #2f2440;
  color: #bfcad0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #fff;
}
.otherSKillsBtn:active {
  color: #c26dbc;
  box-shadow: none;
}
.otherSkillsDisplay {
  visibility: hidden;
}
.otherSkillsDisplayActive {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
}
