.workexcontainer {
}
.experience1 {
}
.detailedWorkex span {
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: blinkLink;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
  animation-timing-function: linear;
}
.tile {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #232425;
  color: #ecf2f7;
  padding: 5px;
}
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.desc div:nth-child(1) {
  flex: 6;
}
.desc div:nth-child(2) {
  flex: 2;
  text-align: center;
  font-size: 32px;
  font-size: 32px;
  background: linear-gradient(45deg, #ffffff, transparent);
  color: rgba(0, 0, 0, 0.5);
}
.dateExp {
  transform: translateY(0px);
  transition: transform 0.6s;
}
.achInd {
  background-color: #0c1446;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
@keyframes blinkLink {
  0% {
    color: green;
  }
  100% {
    color: red;
  }
}
